In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\kunda\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kunda\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\kunda\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\kunda\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\kunda\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\kunda\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: attrs>=19.2.0 in c:\users\kunda\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: outcome in c:\users\kunda\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\kunda\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: sniffio in c:\users\kunda\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\kunda\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\users\kunda\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\kunda\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: certifi in c:\users\kunda\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\kunda\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\kunda\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\kunda\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kunda\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

#### 1) Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

In [4]:
url = "https://www.naukri.com/"
driver.get(url)

In [5]:
## finding web element for search job bar using class name
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [6]:
# write on search bar 
search_job.send_keys("Data Analyst")

In [7]:
## Finding web element for search location bar using absolute xpath
search_loc = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [8]:
# finding web element for job location bar
search_loc.send_keys("Bangalore")

In [9]:
search_btn = driver.find_element_by_class_name("qsbSubmit")
search_btn

In [10]:
search_btn.click()

## Extracting required Data:

In [11]:
## Extracting job title, exp. location 
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [12]:
## Now the text of job title is inside the web elements extracted above
# so will run a for loop to iterate over the tags and will extract text from them 
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
len('job_titles')

10

In [13]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [14]:
company_name = []
for i in company_tags:
    company_name.append(i.text)
len('company_name')

12

In [15]:
exp_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [16]:
experience = []
for i in exp_tags:
    experience.append(i.text)
len('experience')

10

In [17]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [18]:
location = []
for i in loc_tags:
    location.append(i.text)
len('location')

8

In [19]:
len(job_titles), len(company_name), len(experience), len(location)

(20, 20, 20, 20)

In [20]:
## Creating DataFrame
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_name
jobs['Experience'] = experience
jobs['Location'] = location
jobs.head(10)

,Job Title,Company,Experience,Location
0,QA Data Analyst,Ralph Lauren,QA Data Analyst,Bangalore/Bengaluru
1,Senior Data Analyst,Flipkart,Senior Data Analyst,Bangalore/Bengaluru
2,Data Analyst,Ericsson Global Services,Data Analyst,Bangalore/Bengaluru
3,Data Analyst,Flipkart,Data Analyst,Bangalore/Bengaluru
4,Senior Data Analyst - Data Modeling/Database D...,K & R Enterprises,Senior Data Analyst - Data Modeling/Database D...,Bangalore/Bengaluru
5,Data analyst,GSK India,Data analyst,Bangalore/Bengaluru
6,Data Analyst,GSK India,Data Analyst,Bangalore/Bengaluru
7,Financial Data Analyst,Moody's,Financial Data Analyst,Bangalore/Bengaluru
8,Data Analyst,Aldius Consulting Services Pvt Ltd (Paramantra),Data Analyst,Bangalore/Bengaluru
9,OYO Rooms - Data Analyst / Business Analyst,OyoRooms,OYO Rooms - Data Analyst / Business Analyst,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."

#### 2) Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [21]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

url = "https://www.naukri.com/"
driver.get(url)

In [22]:
## finding web element for search job bar using class name
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [23]:
# write on search bar 
search_job.send_keys("Data Scientist")

In [24]:
## Finding web element for search location bar using absolute xpath
search_loc = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [25]:
# write on search bar 
search_loc.send_keys("Bangalore")

In [26]:
search_btn = driver.find_element_by_class_name("qsbSubmit")
search_btn 
search_btn.click()

In [27]:
## Extracting job title,  location and name 
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis" ]')
len(title_tags)

20

In [28]:
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
len('job_titles')

10

In [29]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft" ]')
len(company_tags)

company_name = []
for i in company_tags:
    company_name.append(i.text)
len('company_name')

12

In [30]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

location = []
for i in loc_tags:
    location.append(i.text)
len('location')

8

In [31]:
## Creating DataFrame
job = pd.DataFrame()
job['Job Title'] = job_titles
job['Company'] = company_name
job['Location'] = location
job.head(10)

,Job Title,Company,Location
0,Global Tax Automation & Operations - Data Scie...,Dell,Bangalore/Bengaluru
1,Analyst / Data Scientist,MilliporeSigma,Bangalore/Bengaluru
2,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru
3,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru
4,Senior Data Scientist,Siemens,Bangalore/Bengaluru
5,Senior Data Scientist,Sabre,Bangalore/Bengaluru
6,Senior Data Scientist (Fintech),NIRA,Bangalore/Bengaluru
7,Senior Data Scientist,Shell,"Chennai, Bangalore/Bengaluru"
8,Data Scientist - Lead / Architect - Looking Fo...,Wipro,"Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram,..."
9,Data Scientist - Lead / Architect - Looking Fo...,Wipro,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."

#### 3) : In this question you have to scrape data using the filters available on the webpage as shown below: 
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data

In [32]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

url = "https://www.naukri.com/"
driver.get(url)

In [33]:
## finding web element for search job bar using class name
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

# write on search bar 
search_job.send_keys("Data Scientist")

In [34]:
## Finding web element for search location bar using absolute xpath
search_loc = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

# write on search bar 
search_loc.send_keys("Delhi/NCR")

In [35]:
search_btn = driver.find_element_by_class_name("qsbSubmit")
search_btn 
search_btn.click()

#### will scrape the job-title, job-location, company name, experience.

In [36]:

title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis" ]')
len(title_tags)

job_titles = []
for i in title_tags:
    job_titles.append(i.text)
len('job_titles')

10

In [37]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft" ]')
len(company_tags)

company_name = []
for i in company_tags:
    company_name.append(i.text)
len('company_name')

12

In [38]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

location = []
for i in loc_tags:
    location.append(i.text)
len('location')

8

In [39]:
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(title_tags)

experience = []
for i in exp_tags:
    experience.append(i.text)
len('experience')

10

In [40]:
## Creating DataFrame:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_name
jobs['Experience'] = experience
jobs['Location'] = location
jobs.head(10)

Empty DataFrame
Columns: [Job Title, Company, Experience, Location]
Index: []

#### 4) Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [46]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

In [47]:
url = "https://www.flipkart.com/"
driver.get(url)

In [48]:
## finding web element for search job bar using class name
search_product = driver.find_element_by_class_name("_3704LK")
search_product

In [49]:
# write on search bar 
search_product.send_keys("sunglasses")

In [50]:
search_btn = driver.find_element_by_class_name("L0Z3Pu")
search_btn 
search_btn.click()

#### Now we will Scrape 100 sunglasses with:
Brand
Product Description
Price

In [51]:
# Screping data from 1st page 1- 40products:

brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

brand = []
for i in brand_tags:
    brand.append(i.text)
len('brand')

5

In [52]:
description_tags = driver.find_elements_by_xpath('//div[@class="_2B099V"]')
len(description_tags)

description = []
for i in description_tags:
    description.append(i.text)
len('description')

11

In [53]:
price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(description_tags)
price = []
for i in price_tags:
    price.append(i.text)
len('price')

5

In [54]:
## Creating DataFrame:
df1 = pd.DataFrame()
df1['Brand'] = brand
df1['Price'] = price
df1['Description'] = description
df1

,Brand,Price,Description
0,VINCENT CHASE,"₹1,365","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."
1,VINCENT CHASE,"₹1,483","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."
2,GANSTA,₹159,"GANSTA\nUV Protection, Riding Glasses Wayfarer..."
3,GANSTA,₹234,GANSTA\nUV Protection Aviator Sunglasses (57)\...
4,Elligator,₹198,Elligator\nUV Protection Round Sunglasses (54)...
5,SUNBEE,₹193,"SUNBEE\nUV Protection, Polarized Wayfarer Sung..."
6,SRPM,₹138,SRPM\nUV Protection Wayfarer Sunglasses (50)\n...
7,VINCENT CHASE,"₹1,129","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."
8,Fastrack,₹729,Fastrack\nUV Protection Wayfarer Sunglasses (F...
9,New Specs,₹184,New Specs\nUV Protection Rectangular Sunglasse...
10,SHAAH COLLECTIONS,₹115,"SHAAH COLLECTIONS\nUV Protection, Polarized, M..."
11,VINCENT CHASE,"₹1,365","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."
12,SHAAH COLLECTIONS,₹131,"SHAAH COLLECTIONS\nUV Protection, Polarized, M..."
13,SUNBEE,₹221,"SUNBEE\nUV Protection, Polarized, Mirrored Rou..."
14,PIRASO,₹179,PIRASO\nUV Protection Aviator Sunglasses (54)\...
15,ROZZETTA CRAFT,₹399,"ROZZETTA CRAFT\nUV Protection, Riding Glasses ..."
16,kingsunglasses,₹136,kingsunglasses\nUV Protection Round Sunglasses...
17,Fastrack,₹579,Fastrack\nUV Protection Rectangular Sunglasses...
18,GANSTA,₹199,"GANSTA\nUV Protection, Riding Glasses Wayfarer..."
19,VINCENT CHASE,"₹1,365","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."
20,GANSTA,₹183,GANSTA\nUV Protection Aviator Sunglasses (57)\...
21,ROZZETTA CRAFT,₹349,"ROZZETTA CRAFT\nUV Protection, Gradient Rectan..."
22,GANSTA,₹174,GANSTA\nUV Protection Rectangular Sunglasses (...
23,ROZZETTA CRAFT,₹299,"ROZZETTA CRAFT\nUV Protection, Gradient Retro ..."
24,ROZZETTA CRAFT,₹449,"ROZZETTA CRAFT\nPolarized, Night Vision, Ridin..."
25,GANSTA,₹170,GANSTA\nUV Protection Aviator Sunglasses (57)\...
26,agera,₹186,agera\nGradient Aviator Sunglasses (55)\n₹186₹...
27,VINCENT CHASE,"₹1,365","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."
28,Elligator,₹117,Elligator\nUV Protection Wayfarer Sunglasses (...
29,PIRASO,₹150,PIRASO\nUV Protection Aviator Sunglasses (54)\...
30,Johaena,₹102,"Johaena\nRiding Glasses, UV Protection Oval Su..."
31,GANSTA,₹214,"GANSTA\nUV Protection, Night Vision, Riding Gl..."
32,New Specs,₹209,"New Specs\nMirrored, UV Protection, Riding Gla..."
33,PIRASO,₹150,PIRASO\nUV Protection Aviator Sunglasses (54)\...
34,GANSTA,₹165,"GANSTA\nUV Protection, Mirrored Wayfarer Sungl..."
35,VINCENT CHASE,"₹1,365",VINCENT CHASE\nby Lenskart UV Protection Round...
36,Elligator,₹139,Elligator\nUV Protection Round Sunglasses (53)...
37,PHENOMENAL,₹259,PHENOMENAL\nUV Protection Retro Square Sunglas...
38,Elligator,₹215,Elligator\nUV Protection Round Sunglasses (54)...
39,ROZZETTA CRAFT,₹298,"ROZZETTA CRAFT\nUV Protection, Gradient Rectan..."

In [55]:
## 2nd page data from 41 to 80: 
brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

brand = []
for i in brand_tags:
    brand.append(i.text)
len('brand')

5

In [56]:
description_tags = driver.find_elements_by_xpath('//div[@class="_2B099V" ]')
len(description_tags)


description = []
for i in description_tags:
    description.append(i.text)
len('description')

11

In [57]:
price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(description_tags)
price = []
for i in price_tags:
    price.append(i.text)
len('price')

5

In [58]:
## Creating DataFrame:
df2 = pd.DataFrame()
df2['Brand'] = brand
df2['Price'] = price
df2['Description'] = description
df2

,Brand,Price,Description
0,VINCENT CHASE,"₹1,365","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."
1,VINCENT CHASE,"₹1,483","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."
2,GANSTA,₹159,"GANSTA\nUV Protection, Riding Glasses Wayfarer..."
3,GANSTA,₹234,GANSTA\nUV Protection Aviator Sunglasses (57)\...
4,Elligator,₹198,Elligator\nUV Protection Round Sunglasses (54)...
5,SUNBEE,₹193,"SUNBEE\nUV Protection, Polarized Wayfarer Sung..."
6,SRPM,₹138,SRPM\nUV Protection Wayfarer Sunglasses (50)\n...
7,VINCENT CHASE,"₹1,129","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."
8,Fastrack,₹729,Fastrack\nUV Protection Wayfarer Sunglasses (F...
9,New Specs,₹184,New Specs\nUV Protection Rectangular Sunglasse...
10,SHAAH COLLECTIONS,₹115,"SHAAH COLLECTIONS\nUV Protection, Polarized, M..."
11,VINCENT CHASE,"₹1,365","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."
12,SHAAH COLLECTIONS,₹131,"SHAAH COLLECTIONS\nUV Protection, Polarized, M..."
13,SUNBEE,₹221,"SUNBEE\nUV Protection, Polarized, Mirrored Rou..."
14,PIRASO,₹179,PIRASO\nUV Protection Aviator Sunglasses (54)\...
15,ROZZETTA CRAFT,₹399,"ROZZETTA CRAFT\nUV Protection, Riding Glasses ..."
16,kingsunglasses,₹136,kingsunglasses\nUV Protection Round Sunglasses...
17,Fastrack,₹579,Fastrack\nUV Protection Rectangular Sunglasses...
18,GANSTA,₹199,"GANSTA\nUV Protection, Riding Glasses Wayfarer..."
19,VINCENT CHASE,"₹1,365","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."
20,GANSTA,₹183,GANSTA\nUV Protection Aviator Sunglasses (57)\...
21,ROZZETTA CRAFT,₹349,"ROZZETTA CRAFT\nUV Protection, Gradient Rectan..."
22,GANSTA,₹174,GANSTA\nUV Protection Rectangular Sunglasses (...
23,ROZZETTA CRAFT,₹299,"ROZZETTA CRAFT\nUV Protection, Gradient Retro ..."
24,ROZZETTA CRAFT,₹449,"ROZZETTA CRAFT\nPolarized, Night Vision, Ridin..."
25,GANSTA,₹170,GANSTA\nUV Protection Aviator Sunglasses (57)\...
26,agera,₹186,agera\nGradient Aviator Sunglasses (55)\n₹186₹...
27,VINCENT CHASE,"₹1,365","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."
28,Elligator,₹117,Elligator\nUV Protection Wayfarer Sunglasses (...
29,PIRASO,₹150,PIRASO\nUV Protection Aviator Sunglasses (54)\...
30,Johaena,₹102,"Johaena\nRiding Glasses, UV Protection Oval Su..."
31,GANSTA,₹214,"GANSTA\nUV Protection, Night Vision, Riding Gl..."
32,New Specs,₹209,"New Specs\nMirrored, UV Protection, Riding Gla..."
33,PIRASO,₹150,PIRASO\nUV Protection Aviator Sunglasses (54)\...
34,GANSTA,₹165,"GANSTA\nUV Protection, Mirrored Wayfarer Sungl..."
35,VINCENT CHASE,"₹1,365",VINCENT CHASE\nby Lenskart UV Protection Round...
36,Elligator,₹139,Elligator\nUV Protection Round Sunglasses (53)...
37,PHENOMENAL,₹259,PHENOMENAL\nUV Protection Retro Square Sunglas...
38,Elligator,₹215,Elligator\nUV Protection Round Sunglasses (54)...
39,ROZZETTA CRAFT,₹298,"ROZZETTA CRAFT\nUV Protection, Gradient Rectan..."

In [59]:
## 3rd page data from 81 to 100: 
brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

brand = []
for i in brand_tags:
    brand.append(i.text)
len('brand')

5

In [60]:
description_tags = driver.find_elements_by_xpath('//div[@class="_2B099V" ]')
len(description_tags)


description = []
for i in description_tags:
    description.append(i.text)
len('description')

11

In [61]:
## Creating DataFrame:
df3 = pd.DataFrame()
df3['Brand'] = brand
df3['Price'] = price
df3['Description'] = description
df3.head(20)

,Brand,Price,Description
0,VINCENT CHASE,"₹1,365","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."
1,VINCENT CHASE,"₹1,483","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."
2,GANSTA,₹159,"GANSTA\nUV Protection, Riding Glasses Wayfarer..."
3,GANSTA,₹234,GANSTA\nUV Protection Aviator Sunglasses (57)\...
4,Elligator,₹198,Elligator\nUV Protection Round Sunglasses (54)...
5,SUNBEE,₹193,"SUNBEE\nUV Protection, Polarized Wayfarer Sung..."
6,SRPM,₹138,SRPM\nUV Protection Wayfarer Sunglasses (50)\n...
7,VINCENT CHASE,"₹1,129","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."
8,Fastrack,₹729,Fastrack\nUV Protection Wayfarer Sunglasses (F...
9,New Specs,₹184,New Specs\nUV Protection Rectangular Sunglasse...
10,SHAAH COLLECTIONS,₹115,"SHAAH COLLECTIONS\nUV Protection, Polarized, M..."
11,VINCENT CHASE,"₹1,365","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."
12,SHAAH COLLECTIONS,₹131,"SHAAH COLLECTIONS\nUV Protection, Polarized, M..."
13,SUNBEE,₹221,"SUNBEE\nUV Protection, Polarized, Mirrored Rou..."
14,PIRASO,₹179,PIRASO\nUV Protection Aviator Sunglasses (54)\...
15,ROZZETTA CRAFT,₹399,"ROZZETTA CRAFT\nUV Protection, Riding Glasses ..."
16,kingsunglasses,₹136,kingsunglasses\nUV Protection Round Sunglasses...
17,Fastrack,₹579,Fastrack\nUV Protection Rectangular Sunglasses...
18,GANSTA,₹199,"GANSTA\nUV Protection, Riding Glasses Wayfarer..."
19,VINCENT CHASE,"₹1,365","VINCENT CHASE\nby Lenskart Polarized, UV Prote..."

In [62]:
## now we will merge all the 3 dataframes and create one dataframe with 100 Sunglasses details.
df4 = pd.concat([df1, df2, df3], axis=0)

In [63]:
df4.head(100)

             Brand   Price                                        Description
0    VINCENT CHASE  ₹1,365  VINCENT CHASE\nby Lenskart Polarized, UV Prote...
1    VINCENT CHASE  ₹1,483  VINCENT CHASE\nby Lenskart Polarized, UV Prote...
2           GANSTA    ₹159  GANSTA\nUV Protection, Riding Glasses Wayfarer...
3           GANSTA    ₹234  GANSTA\nUV Protection Aviator Sunglasses (57)\...
4        Elligator    ₹198  Elligator\nUV Protection Round Sunglasses (54)...
..             ...     ...                                                ...
15  ROZZETTA CRAFT    ₹399  ROZZETTA CRAFT\nUV Protection, Riding Glasses ...
16  kingsunglasses    ₹136  kingsunglasses\nUV Protection Round Sunglasses...
17        Fastrack    ₹579  Fastrack\nUV Protection Rectangular Sunglasses...
18          GANSTA    ₹199  GANSTA\nUV Protection, Riding Glasses Wayfarer...
19   VINCENT CHASE  ₹1,365  VINCENT CHASE\nby Lenskart Polarized, UV Prote...

[100 rows x 3 columns]

#### 5) Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [64]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

In [65]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20%20TSVZAXUHGREPBFGI&marketplace"
driver.get(url)

#### Now we will scrape the first 100
Rating
Review summary
Full review

In [66]:
rating_tags = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating_tags)

rating = []
for i in rating_tags:
    rating.append(i.text)
len('rating')

6

In [67]:
review_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(review_tags)

review = []
for i in rating_tags:
    review.append(i.text)
len('review')

6

In [68]:
summary_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(summary_tags)

review_summary = []
for i in summary_tags:
    review_summary.append(i.text)
len('review_summary')

14

In [69]:
## Creating DataFrame:
df = pd.DataFrame()
df['Rating'] = rating
df['Review'] = review
df['Review Summary'] = review_summary
df

  Rating Review                                     Review Summary
0      5      5  The Best Phone for the Money\n\nThe iPhone 11 ...
1      5      5  Really satisfied with the Product I received.....
2      5      5  Great iPhone very snappy experience as apple k...
3
4
5
6
7
8
9

In [70]:
rating_tags = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating_tags)

rating = []
for i in rating_tags:
    rating.append(i.text)
len('rating')

6

In [71]:
review_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(review_tags)

review = []
for i in rating_tags:
    review.append(i.text)
len('review')

6

In [72]:
summary_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(summary_tags)

review_summary = []
for i in summary_tags:
    review_summary.append(i.text)
len('review_summary')

14

In [73]:
## Creating DataFrame:
df = pd.DataFrame()
df['Rating'] = rating
df['Review'] = review
df['Review Summary'] = review_summary
df

  Rating Review                                     Review Summary
0      5      5  The Best Phone for the Money\n\nThe iPhone 11 ...
1      5      5  Really satisfied with the Product I received.....
2      5      5  Great iPhone very snappy experience as apple k...
3
4
5
6
7
8
9

#### 6) Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
#### You have to scrape 4 attributes of each sneaker: 1. Brand 2. Product Description 3. Price As shown in the below image, you have to scrape the tick marked attributes.

In [76]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

In [77]:
url = "http://www.flipkart.com/"
driver.get(url)

In [78]:
## finding web element for search job bar using class name
search_product = driver.find_element_by_class_name("_3704LK")
search_product

In [79]:

# write on search bar 
search_product.send_keys("sneakers")

In [80]:
search_btn = driver.find_element_by_class_name("_34RNph")
search_btn 
search_btn.click()

In [81]:
## Now we will scrape  1. Brand 2. Product Description 3. Price
brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

brand= []
for i in brand_tags:
    brand.append(i.text)
len('brand')

5

In [82]:
product_tags = driver.find_elements_by_xpath('//div[@class="_2B099V"] ')
len(product_tags)

product = []
for i in product_tags:
    product.append(i.text)
len('product')

7

In [94]:
price_tags = driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')
len(price_tags)

price = []
for i in price_tags:
    price.append(i.text)
len('price')

5

In [95]:
## Creating DataFrame:
df = pd.DataFrame()
df['Brand'] = brand
df['Description'] = product
df['Price'] = price
df

,Brand,Description,Price
0,Echor,Echor\nMen's casual shoe Black sneaker shoe fo...,"₹449₹1,49970% off"
1,BRUTON,BRUTON\nCombo Pack Of 3 Latest Casual Shoes Sn...,"₹423₹2,99985% off"
2,BRUTON,BRUTON\nModern Trendy Sneakers Shoes Sneakers ...,"₹209₹1,29983% off"
3,Elevarse,Elevarse\nSneakers For Men\n₹299₹99970% off,₹299₹99970% off
4,BRUTON,BRUTON\nCombo Pack Of 4 Casual Shoes Loafer Sh...,"₹449₹3,49987% off"
5,corsac,corsac\nSTYLISH MENS BLACK AND WHITE SNEAKER S...,"₹449₹1,49970% off"
6,BRUTON,BRUTON\nCombo Pack Of 2 Latest Stylish Casual ...,"₹449₹2,49982% off"
7,AERAMBOL,AERAMBOL\nMen's Stylish Sports & Casual Shoes ...,₹210₹85075% off
8,World Wear Footwear,World Wear Footwear\n5011-Latest Collection St...,₹149₹49970% off
9,URBANBOX,URBANBOX\nSneakers Sneakers For Men\n₹170₹9998...,₹170₹99982% off
10,Labbin,Labbin\nSneakers For Men\n₹424₹99957% off,₹424₹99957% off
11,Nilatin,"Nilatin\nSneakers For Men\n₹449₹1,99977% off","₹449₹1,99977% off"
12,DUNKASTON,"DUNKASTON\nSneakers For Men\n₹349₹1,49976% off","₹349₹1,49976% off"
13,Trendmode,Trendmode\nSneakers For Men\n₹249₹69964% off,₹249₹69964% off
14,RapidBox,RapidBox\nSneakers For Men\n₹630₹99936% off,₹630₹99936% off
15,Strollin,Strollin\nSneakers For Men\n₹348₹99965% off,₹348₹99965% off
16,SCATCHITE,SCATCHITE\nSneakers Sneakers For Men\n₹327₹999...,₹327₹99967% off
17,World Wear Footwear,World Wear Footwear\nSneakers For Men\n₹199₹49...,₹199₹49960% off
18,Chevit,Chevit\nSuper Stylish & Trendy Combo Pack of 0...,"₹599₹1,59862% off"
19,Airland,Airland\nsneaker men red 1258 - 8 Sneakers For...,₹188₹49962% off
20,D-SNEAKERZ,"D-SNEAKERZ\nCasual , Partywear Sneakers Shoes ...",₹249₹65962% off
21,Shoes Bank,Shoes Bank\nWhite Sneaker For Men's/Boy's Snea...,₹295₹99970% off
22,luxury fashion,luxury fashion\nLuxury Fashionable casual snea...,"₹399₹1,29969% off"
23,MAFLO,MAFLO\nNEW ATTRACTIVE WHITE SPORTS SHOE Sneake...,"₹549₹1,29957% off"
24,ASTEROID,ASTEROID\nOriginal Luxury Branded Fashionable ...,"₹424₹1,99978% off"
25,Noztile,"Noztile\nSneakers For Men\n₹349₹1,99982% off","₹349₹1,99982% off"
26,Rzisbo,Rzisbo\nSneakers For Men\n₹499₹99950% off\nBuy...,₹499₹99950% off
27,Neeman's,"Neeman's\nSneakers For Men\n₹2,349₹2,99921% of...","₹2,349₹2,99921% off"
28,RapidBox,RapidBox\nRapidBox Men Shoes Sneakers For Men\...,₹640₹99935% off
29,CLYMB,"CLYMB\nSneakers For Men\n₹566₹1,49962% off\nFr...","₹566₹1,49962% off"
30,Numenzo,"Numenzo\n411 Casual Sneakers For Men\n₹376₹1,9...","₹376₹1,99981% off"
31,Zixer,Zixer\nMen's Streetwear Pro Style High Top Pla...,"₹549₹1,99972% off"
32,Xtoon,"Xtoon\nwhite Casual shoes,Sneakers for men's S...","₹429₹1,49971% off"
33,BIRDE,BIRDE\nSports Running Shoes Sneakers For Men\n...,₹249₹49950% off
34,BRUTON,BRUTON\nLattest Sneakers Shoe Sneakers For Men...,"₹209₹1,29983% off"
35,CLYMB,CLYMB\nPerfect Casual Loafer Shoes for Men's R...,₹471₹99952% off
36,HOTSTYLE,HOTSTYLE\nSneakers For Men\n₹199₹99880% off,₹199₹99880% off
37,Robbie jones,Robbie jones\nSneakers For Men\n₹449₹99955% off,₹449₹99955% off
38,aadi,aadi\nSneakers For Men\n₹349₹99965% off,₹349₹99965% off
39,Echor,Echor\nMen's Fashion Sneakers - Lightweight Br...,₹348₹99965% off

In [96]:
## scraping data from 2nd page.
next_btn = driver.find_element_by_class_name("_1LKTO3")
next_btn

In [97]:
next_btn.click()

In [98]:
## Now we will scrape 2nd page from 41- 80.  1. Brand 2. Product Description 3. Price 4. Discount
brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

brand= []
for i in brand_tags:
    brand.append(i.text)
len('brand')

price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)

price = []
for i in price_tags:
    price.append(i.text)
len('price')

product_tags = driver.find_elements_by_xpath('//div[@class="_2B099V"]')
len(product_tags)

product = []
for i in product_tags:
    product.append(i.text)
len('product')

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=98.0.4758.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x004B69A3+2582947]
	Ordinal0 [0x0044A6D1+2139857]
	Ordinal0 [0x00343A98+1063576]
	Ordinal0 [0x003462B7+1073847]
	Ordinal0 [0x0034617E+1073534]
	Ordinal0 [0x003463F0+1074160]
	Ordinal0 [0x0036B8E0+1226976]
	Ordinal0 [0x0038854C+1344844]
	Ordinal0 [0x00366524+1205540]
	Ordinal0 [0x003886A4+1345188]
	Ordinal0 [0x0039834A+1409866]
	Ordinal0 [0x00388366+1344358]
	Ordinal0 [0x00365176+1200502]
	Ordinal0 [0x00366066+1204326]
	GetHandleVerifier [0x0065BE02+1675858]
	GetHandleVerifier [0x0071036C+2414524]
	GetHandleVerifier [0x0054BB01+560977]
	GetHandleVerifier [0x0054A8D3+556323]
	Ordinal0 [0x0045020E+2163214]
	Ordinal0 [0x00455078+2183288]
	Ordinal0 [0x004551C0+2183616]
	Ordinal0 [0x0045EE1C+2223644]
	BaseThreadInitThunk [0x766CFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77B87A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77B87A6E+238]

In [ ]:
## Creating DataFrame:
df1 = pd.DataFrame()
df1['Brand'] = brand
df1['Description'] = product
df1['Price'] = price
df1

In [ ]:
## scraping data from 3rd page.
next_btn = driver.find_element_by_class_name("_1LKTO3")
next_btn

In [ ]:
next_btn.click()

In [ ]:
## Now we will scrape 2nd page from 41- 80.  1. Brand 2. Product Description 3. Price 4. Discount
brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

brand= []
for i in brand_tags:
    brand.append(i.text)
len('brand')

price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)

price = []
for i in price_tags:
    price.append(i.text)
len('price')

product_tags = driver.find_elements_by_xpath('//div[@class="_2B099V" ]')
len(product_tags)

product = []
for i in product_tags:
    product.append(i.text)
len('product')

In [ ]:
## Creating DataFrame:
df2 = pd.DataFrame()
df2['Brand'] = brand
df2['Description'] = product
df2['Price'] = price
df2

In [99]:
## now we will merge all the 3 dataframes and create one dataframe with 100 Sunglasses details.
df3 = pd.concat([df, df1, df2], axis=0)
df3.head(100)

,Brand,Description,Price
0,Echor,Echor\nMen's casual shoe Black sneaker shoe fo...,"₹449₹1,49970% off"
1,BRUTON,BRUTON\nCombo Pack Of 3 Latest Casual Shoes Sn...,"₹423₹2,99985% off"
2,BRUTON,BRUTON\nModern Trendy Sneakers Shoes Sneakers ...,"₹209₹1,29983% off"
3,Elevarse,Elevarse\nSneakers For Men\n₹299₹99970% off,₹299₹99970% off
4,BRUTON,BRUTON\nCombo Pack Of 4 Casual Shoes Loafer Sh...,"₹449₹3,49987% off"
...,...,...,...
15,Strollin,Strollin\nSneakers For Men\n₹348₹99965% off,₹348
16,SCATCHITE,SCATCHITE\nSneakers Sneakers For Men\n₹327₹999...,₹327
17,World Wear Footwear,World Wear Footwear\nSneakers For Men\n₹199₹49...,₹199
18,Chevit,Chevit\nSuper Stylish & Trendy Combo Pack of 0...,₹599
19,Airland,Airland\nsneaker men red 1258 - 8 Sneakers For...,₹188

#### 7) Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [100]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

In [101]:
url = "https://www.myntra.com/shoes"
driver.get(url)

In [102]:
## Now we will scrape 100 shoes data  1. Brand 2.Description 3. Price
brand_tags = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(brand_tags)

brand= []
for i in brand_tags:
    brand.append(i.text)
len('brand')

5

In [103]:

price_tags = driver.find_elements_by_xpath('//div[@class="product-price"]')
len(price_tags)

price = []
for i in price_tags:
    price.append(i.text)
len('price')

description_tags = driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(description_tags)

description = []
for i in description_tags:
    description.append(i.text)
len('description')

11

In [104]:
## Creating DataFrame:
df = pd.DataFrame()
df['Brand'] = brand
df['Description'] = description
df['Price'] = price
df

,Brand,Description,Price
0,U.S. Polo Assn.,Men Sneakers,Rs. 1949Rs. 2999(35% OFF)
1,Nike,Men Downshifter 10 Running,Rs. 3595Rs. 3995(10% OFF)
2,Newfeel By Decathlon,Men Walking Shoes,Rs. 899
3,Roadster,Men Suede Finish Sneakers,Rs. 1154Rs. 3299(65% OFF)
4,Red Tape,Men Walking Shoes,Rs. 1469Rs. 4899(70% OFF)
5,Mactree,Men Suede Loafers,Rs. 898Rs. 4490(80% OFF)
6,HIGHLANDER,Men Sneakers,Rs. 995Rs. 1990(50% OFF)
7,HRX by Hrithik Roshan,Men Running Shoes,Rs. 2499Rs. 4999(50% OFF)
8,Nike,Men Running Shoes,Rs. 7645Rs. 8495(10% OFF)
9,HRX by Hrithik Roshan,Women Running Shoes,Rs. 1639Rs. 4099(60% OFF)
10,U.S. Polo Assn.,Men LEBRON 2.0 Walking Shoes,Rs. 2159Rs. 3999(46% OFF)
11,ALDO,Men Leather Driving Shoes,Rs. 12999
12,Roadster,Men Sneakers,Rs. 872Rs. 3795(77% OFF)
13,HIGHLANDER,Men Woven Design Sneakers,Rs. 658Rs. 1198(45% OFF)
14,TWIN TOES,Women Colourblocked Sneakers,Rs. 799Rs. 999(20% OFF)
15,HRX by Hrithik Roshan,Men Propulsion Running Shoes,Rs. 4199Rs. 6999(40% OFF)
16,Puma,Women Platinum Training Shoes,Rs. 2749Rs. 4999(45% OFF)
17,U.S. Polo Assn.,Men Solid Sneakers,Rs. 2099Rs. 2999(30% OFF)
18,MENGLER,Men Walking Shoes,Rs. 799Rs. 3999(80% OFF)
19,U.S. Polo Assn.,Men LEBRON 2.0 Walking Shoes,Rs. 2399Rs. 3999(40% OFF)
20,Red Tape,Men Walking Shoes,Rs. 1679Rs. 5599(70% OFF)
21,HRX by Hrithik Roshan,Men Chunky Sneakers,Rs. 2804Rs. 5099(45% OFF)
22,HIGHLANDER,Men Sneakers,Rs. 995Rs. 1990(50% OFF)
23,Nike,Men Flex Control Training,Rs. 4945Rs. 5495(10% OFF)
24,Reebok,Men Voyager 1.0 Running Shoes,Rs. 1724Rs. 2299(25% OFF)
25,Puma,Men Corode IDP Running Shoes,Rs. 1999Rs. 3999(50% OFF)
26,Roadster,Men Sneakers,Rs. 1499Rs. 2999(50% OFF)
27,Red Tape,Women Walking Shoes,Rs. 1679Rs. 5599(70% OFF)
28,Red Tape,Men Walking Shoes,Rs. 1679Rs. 5599(70% OFF)
29,Campus,Mesh Running Shoes,Rs. 1049
30,Nike,LEGEND ESSENTIAL Training Shoe,Rs. 3820Rs. 4495(15% OFF)
31,Sparx,Men Running Shoes,Rs. 1111Rs. 1249(11% OFF)
32,Red Tape,Men Walking Shoes,Rs. 1739Rs. 5799(70% OFF)
33,U.S. Polo Assn.,Men Textured Loafers,Rs. 2159Rs. 3599(40% OFF)
34,Alishtezia,Women Colourblocked PU Sneakers,Rs. 799Rs. 1599(50% OFF)
35,ALBERTO MORENO,Men Perforations Loafers,Rs. 899Rs. 2999(Rs. 2100 OFF)
36,Newfeel By Decathlon,Women Walking Shoes,Rs. 899
37,Nike,Women RIR FK2 PR Running Shoes,Rs. 13170Rs. 15495(15% OFF)
38,HIGHLANDER,Men Solid Sneakers,Rs. 995Rs. 1990(50% OFF)
39,Campus,BARLEY Black Running Shoes,Rs. 1039Rs. 1299(20% OFF)
40,Red Tape,Men Colourblocked Sneakers,Rs. 1499Rs. 4999(70% OFF)
41,Eego Italy,Men Trekking Shoes,Rs. 999Rs. 2599(Rs. 1600 OFF)
42,Puma,Men Sneakers,Rs. 2149Rs. 4299(50% OFF)
43,HIGHLANDER,Men Solid Leather Sneakers,Rs. 995Rs. 1990(50% OFF)
44,DEAS,Women Mules Flats,Rs. 599Rs. 999(40% OFF)
45,DressBerry,Women T-Strap Flats,Rs. 629Rs. 1799(65% OFF)
46,AfroJack,Men Woven Design Sneakers,Rs. 799Rs. 3995(80% OFF)
47,Red Tape,Men Chelsea Flat Boots,Rs. 2189Rs. 7299(70% OFF)
48,HRX by Hrithik Roshan,Men Urban Outdoor Running Shoe,Rs. 2749Rs. 5499(50% OFF)
49,TWIN TOES,Women Solid Sneakers,Rs. 599Rs. 999(40% OFF)

In [108]:
## scraping data from 2nd page.from 51 to 100. 
next_btn = driver.find_element_by_class_name("pagination-next")
next_btn

In [109]:
next_btn.click()

In [110]:
brand_tags = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(brand_tags)

brand= []
for i in brand_tags:
    brand.append(i.text)
len('brand')

price_tags = driver.find_elements_by_xpath('//div[@class="product-price"]')
len(price_tags)

price = []
for i in price_tags:
    price.append(i.text)
len('price')

description_tags = driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(description_tags)

description = []
for i in description_tags:
    description.append(i.text)
len('description')

11

In [111]:
## Creating DataFrame:
df1 = pd.DataFrame()
df1['Brand'] = brand
df1['Description'] = description
df1['Price'] = price
df1

,Brand,Description,Price
0,Reebok,Men Ultrafit Running Shoes,Rs. 3199Rs. 3999(20% OFF)
1,HRX by Hrithik Roshan,,Rs. 1679Rs. 4799(65% OFF)
2,HIGHLANDER,Men Solid Sneakers,Rs. 995Rs. 1990(50% OFF)
3,Campus,Men Running Shoes,Rs. 1709Rs. 1799(5% OFF)
4,Sir Corbett,Semi-Formal Shoes,Rs. 914Rs. 3049(70% OFF)
5,mr.wonker,Men Running Shoes,Rs. 739Rs. 3699(80% OFF)
6,Nike,Men QUEST 3 Running Shoes,Rs. 5095Rs. 5995(15% OFF)
7,HRX by Hrithik Roshan,Men Woven Design Fly Sneakers,Rs. 1399Rs. 3499(60% OFF)
8,INVICTUS,Men Solid Formal Oxford Shoes,Rs. 868Rs. 2995(71% OFF)
9,Roadster,Men Solid Sneakers,Rs. 1349Rs. 2999(55% OFF)
10,CLYMB,Men Running Shoes,Rs. 794Rs. 1499(47% OFF)
11,Provogue,Men Solid Formal Loafers,Rs. 879Rs. 4395(80% OFF)
12,Harrytech London,Men Formal Oxfords,Rs. 1850
13,HIGHLANDER,Men Sneakers,Rs. 995Rs. 1990(50% OFF)
14,Fentacia,Men Lightweight Flat Boots,Rs. 1259Rs. 5999(79% OFF)
15,Puma,Men Running Shoes,Rs. 3229Rs. 3799(15% OFF)
16,HRX by Hrithik Roshan,Men Metalite Running Shoe,Rs. 2519Rs. 5599(55% OFF)
17,Campus,Men Running Shoes,Rs. 1546Rs. 1699(9% OFF)
18,mr.wonker,Men Angry Birds Sneakers,Rs. 665Rs. 3329(80% OFF)
19,Nike,Men Court Lite 2 Tennis Shoes,Rs. 4995
20,ALBERTO MORENO,Men Printed Derbys,Rs. 899Rs. 2999(Rs. 2100 OFF)
21,Sparx,Men Running Shoes,Rs. 1111Rs. 1249(11% OFF)
22,Puma,Women Enzo 2 Metal Shoes,Rs. 2749Rs. 5499(50% OFF)
23,HIGHLANDER,Men Solid Sneakers,Rs. 995Rs. 1990(50% OFF)
24,Mactree,Men Colourblocked Sneakers,Rs. 744Rs. 3720(80% OFF)
25,Roadster,Women Solid Sneakers,Rs. 1559Rs. 3899(60% OFF)
26,Sir Corbett,Men Oxford Formal Shoes,Rs. 998Rs. 3329(70% OFF)
27,HRX by Hrithik Roshan,Women Running Shoes,Rs. 1999Rs. 3999(50% OFF)
28,Mactree,Men Solid Formal Derbys,Rs. 788Rs. 3940(80% OFF)
29,H&M,Men Trainers,Rs. 1999
30,ADIDAS,Men Adi Chic Running Shoes,Rs. 2294Rs. 2699(15% OFF)
31,PUMA Motorsport,SF Kart Cat Mid III Sneakers,Rs. 3574Rs. 6499(45% OFF)
32,Puma,Flex Essential Running Shoes,Rs. 2399Rs. 2999(20% OFF)
33,Provogue,Men Solid Formal Derbys,Rs. 899Rs. 4495(80% OFF)
34,ASIAN,Men Running Shoes,Rs. 1199Rs. 1999(Rs. 800 OFF)
35,Sparx,Men Running Shoes,Rs. 1033Rs. 1099(6% OFF)
36,Mactree,Men Suede Loafers,Rs. 898Rs. 4490(80% OFF)
37,HRX by Hrithik Roshan,Men Street Run 2.0 Shoe,Rs. 2639Rs. 4799(45% OFF)
38,Red Tape,Men Walking Shoes,Rs. 1739Rs. 5799(70% OFF)
39,Skechers,Men BOUNDER-VERTVILLE Sneakers,Rs. 3349Rs. 4999(33% OFF)
40,HRX by Hrithik Roshan,Unisex Sneakers,Rs. 1799Rs. 2999(40% OFF)
41,Nike,Men City Rep TR Training Shoes,Rs. 4995
42,Jack & Jones,Men Printed Slip-On Sneakers,Rs. 1999Rs. 2499(20% OFF)
43,HRX by Hrithik Roshan,Men Core Sports Shoe,Rs. 2159Rs. 4799(55% OFF)
44,Shezone,Women Ballerinas,Rs. 699Rs. 999(30% OFF)
45,HIGHLANDER,Men Solid Sneakers,Rs. 1094Rs. 1990(45% OFF)
46,DressBerry,Women Pointy-Toed Flats,Rs. 899Rs. 1799(50% OFF)
47,HRX by Hrithik Roshan,Men Fly Sneaker,Rs. 1719Rs. 4299(60% OFF)
48,Jack & Jones,Men Slip-On Sneakers,Rs. 1999Rs. 2499(20% OFF)
49,Catwalk,Women Sandals,Rs. 1382Rs. 2095(34% OFF)

In [112]:
## now we will merge all the 3 dataframes and create one dataframe with 100 Sunglasses details.
df2 = pd.concat([df, df1 ], axis=0)
df2.head(100)

,Brand,Description,Price
0,U.S. Polo Assn.,Men Sneakers,Rs. 1949Rs. 2999(35% OFF)
1,Nike,Men Downshifter 10 Running,Rs. 3595Rs. 3995(10% OFF)
2,Newfeel By Decathlon,Men Walking Shoes,Rs. 899
3,Roadster,Men Suede Finish Sneakers,Rs. 1154Rs. 3299(65% OFF)
4,Red Tape,Men Walking Shoes,Rs. 1469Rs. 4899(70% OFF)
...,...,...,...
45,HIGHLANDER,Men Solid Sneakers,Rs. 1094Rs. 1990(45% OFF)
46,DressBerry,Women Pointy-Toed Flats,Rs. 899Rs. 1799(50% OFF)
47,HRX by Hrithik Roshan,Men Fly Sneaker,Rs. 1719Rs. 4299(60% OFF)
48,Jack & Jones,Men Slip-On Sneakers,Rs. 1999Rs. 2499(20% OFF)
49,Catwalk,Women Sandals,Rs. 1382Rs. 2095(34% OFF)

#### 8) Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [113]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

In [114]:
url = "https://www.amazon.in/"
driver.get(url)

In [115]:
## finding web element for search job bar using class name
search_product = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_product

In [116]:
# write on search bar 
search_product.send_keys("Laptop")

In [117]:
search_product = driver.find_element_by_class_name("nav-right")
search_product

In [118]:
search_product.click()

In [119]:
## Now we will scrape  Title .Ratings .Price
title_tags = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(title_tags)

title= []
for i in title_tags:
    title.append(i.text)
len('title')

price_tags = driver.find_elements_by_xpath('//span[@class="a-price"]')
len(price_tags)

price = []
for i in price_tags:
    price.append(i.text)
len('price')


rating_tags = driver.find_elements_by_xpath('//i[@class="a-icon a-icon-popover"]')
len(rating_tags)

rating = []
for i in rating_tags:
    rating.append(i.text)
len('rating')

6

In [120]:
## Creating DataFrame:
df = pd.DataFrame()
df['Title'] = title
df['Price'] = price
df.head(10)

                                               Title    Price
0  HP 14s, 5th Gen Ryzen 3- 8GB RAM/512GB SSD 14i...  ₹42,890
1  RedmiBook 15 e-Learning Edition Core i3 11th G...  ₹38,990
2  Lenovo Chromebook 14e 14.0" FHD Business Lapto...  ₹20,990
3  Dell 15 (2021) Athlon Silver 3050U, 4GB, 256GB...  ₹29,490
4  HP Chromebook 14 Intel Celeron N4020-4GB SDRAM...  ₹26,490
5  ASUS ZenBook 14 (2020) Intel Core i5-1135G7 11...  ₹81,990
6  HP 14 10th Gen Intel Core i5-10210U 14 inches ...  ₹90,990
7                                                     ₹55,000
8  HP Chromebook 14 Intel Celeron N4020-4GB SDRAM...
9  Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...  ₹26,470

#### 9): Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4.You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be do

In [174]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

In [175]:
url = "https://www.ambitionbox.com/"
driver.get(url)

In [176]:
## finding web element for search job bar using xpath.
search_job = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input")
search_job

In [163]:
search_job = driver.find_element_by_xpath("/html/body/section[1]/div/div[2]/form/span/input")
search_job

In [177]:
search_job.send_keys("Data Scientist")

In [178]:
## Finding web element for search location bar using absolute xpath
search_loc = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')
search_loc

In [179]:
search_loc.click()

In [183]:
search_loc = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
search_loc.click()

In [184]:
search_loc = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_loc

In [185]:
search_loc.send_keys("Noida")

In [186]:
## Now we will scrape  title .Ratings .job date
title_tags = driver.find_elements_by_xpath('//p[@class="company body-medium" ]')
len(title_tags)

title= []
for i in title_tags:
    title.append(i.text)
len('title')

title

['Jubilant Foodworks Limited',
 'HCL Technologies',
 'EY GDS',
 'Tavant Technologies India Pvt. Ltd.',
 'Denave India Pvt Ltd.',
 'EXL Service',
 'CHT Sapiense',
 'Pitney Bowes India Pvt ltd',
 'Zyoin',
 'Ameriprise Financial']

In [187]:
rating_tags = driver.find_elements_by_xpath('//span[@class="body-small"]')
len(rating_tags)

rating = []
for i in rating_tags:
    rating.append(i.text)
len('rating')

rating

['3.9', '3.8', '3.7', '4.0', '4.0', '3.8', '3.8', '4.2', '4.1', '4.0']

In [191]:

job_tags = driver.find_elements_by_xpath('//*[contains(@title,"ago")]')
len(job_tags)

job_date = []
for i in job_tags:
    job_date.append(i.text)
len('job_date')

job_date

[]

In [225]:
## Creating DataFrame:
df = pd.DataFrame()
df['Title'] = title
df['Rating'] = rating

df.head(10)

                                 Title Rating
0           Jubilant Foodworks Limited    3.9
1                     HCL Technologies    3.8
2                               EY GDS    3.7
3  Tavant Technologies India Pvt. Ltd.    4.0
4                Denave India Pvt Ltd.    4.0
5                          EXL Service    3.8
6                         CHT Sapiense    3.8
7           Pitney Bowes India Pvt ltd    4.2
8                                Zyoin    4.1
9                 Ameriprise Financial    4.0

### 10) Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [201]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

In [202]:
url = "https://www.ambitionbox.com/"
driver.get(url)

In [203]:
## finding web element for search job bar using xpath.
search_salaries = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
search_salaries

In [204]:
search_salaries.click()

In [205]:
search_job = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input')
search_job

In [206]:
search_job.send_keys("Data Scientist")

In [208]:
search_bar = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_bar

In [209]:
search_bar.send_keys("Data Scientist")

In [212]:
## Now we will scrape  company name, total salary record, average salary, minimum salary, maximum salary, experience
name_tags = driver.find_elements_by_xpath('//div[@class="name"]')
len(name_tags)

name= []
for i in name_tags:
    name.append(i.text.replace('\n',''))
len('name')

name

['Walmartbased on 10 salaries',
 'Ab Inbevbased on 25 salaries',
 'ZSbased on 13 salaries',
 'Optumbased on 25 salaries',
 'Fractal Analyticsbased on 75 salaries',
 'Tiger Analyticsbased on 30 salaries',
 'UnitedHealthbased on 51 salaries',
 'Verizonbased on 14 salaries',
 'Ganit Business Solutionsbased on 13 salaries',
 'Ericssonbased on 43 salaries']

In [213]:
Avg_sal = driver.find_elements_by_xpath('//p[@class="averageCtc"]')
len(Avg_sal)

Avg_salary= []
for i in Avg_sal:
    Avg_salary.append(i.text.replace('\n',''))
len('Avg_salary')

10

In [214]:
Avg_salary

['₹ 28.7L',
 '₹ 20.2L',
 '₹ 15.5L',
 '₹ 15.1L',
 '₹ 15.1L',
 '₹ 14.2L',
 '₹ 13.8L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L']

In [221]:
min_sal = driver.find_elements_by_xpath('//div[@class="value body-medium"]')
len(min_sal)

min_salary= []
for i in min_sal:
    min_salary.append(i.text)
len('min_salary')

10